<!doctype html>
<html lang="zn">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>create</h1>
    <ul>
        <form action="/users" method="post">
            <p>username:
                <input type="text" name="username" value="" />
            </p>
            <p>email:
                <input type="text" name="email" value="" />
            </p>
            <p>password:
                <input type="password" name="password" value="" />
            </p>
            <input type="submit" value="Submit" />
        </form>
    </ul>
</body>

</html>
