<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Sheldon - 个人主页</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/css" rel="stylesheet" type="text/css">
    <link href="css/css(1)" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/Chart.js"></script>
</head>
<style id="stylish-2" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>
<style id="stylish-4" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>

<body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#educate" title="educate"><i class="icon-home"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-suitcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#skill" title="skill"><i class="icon-wrench"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-phone"></i></a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Sheldon Yee</h1>
                    <h3>PHP 开发工程师 | sheldon9527yxd@gmail.com</h3>
                    <h3>我就是我，是技术不一般的我</h3>
                </div>
            </div>
        </div>
    </div>

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>关于我</h5>
                </div>
                <div class="col-lg-6">
                    <p>我是个技术人员 &amp; 主要采用php-mysql-nginx-linux技术进行开发。 并熟悉掌握Laravel框架，舒心的使用Atom IDE编译器，我自我感觉我是有一下工作特点： 1.具有吃苦耐劳精神很好的团队精神、和进取心； 2.具有良好的专业技能； 3.具有一定的组织、亲和力以及一定的凝聚力； 4.为人处事具有务实精神和责任感。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section id="educate" name="educate"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>教育经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>计算机科学与技术</t>
                    <br>陕西科技大学镐京学院
                    <br>
                    <i>4年(本科)</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2011.09 入学 </sm>
                    <br>
                    <imp>
                        <sm>2015.07 毕业</sm>
                    </imp>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <section id="work" name="work"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>工作经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>PHP程序员 - web 后端开发</t>
                    <br> 四川大作电子商务有限公司
                    <br>
                </p>
                <p>
                    <more>一：刚进入公司就是熟悉产品的业务流程，并参与讨论业务流程。研究并讨论出所使用开发框架，IDE，及其开发所用的开发环境,逐步的了解框架。 二：在基本环境下，根据业务模式设计数据库，在公司同事和领导的一起讨论下经过一段时间根据业务逻辑设计出数据库。 三：个人使用linux操作系统(lnmp 开发环境)，公司采用Laravel框架，Composer 来管理其依赖性.使用GIT 进行版本控制，数据库则使用mysql，个人使用IDE是ATOM. 四：后来前后台分离，使用Dingo
                        Api 写标准的RESTful 接口。根据业务熟练开发对应的功能，并参与业务的讨论，不断的提高产品的质量，并不断的提高自身的水平。</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2015.03 - 2016.09</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>PHP程序员 - 研发部</t>
                    <br>上海点硕信息技术有限公司
                    <br>
                </p>
                <p>
                    <more>1、负责公司网站建设业务的项目开发工作； 2、参与客户项目的架构设计、数据库设计、业务逻辑抽象等方面的工作； 3、根据客户需求完成网站的搭建；
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2014.10 - 2015.02</sm>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <!--AWARDS DESCRIPTION -->
    <section id="skill" name="skill"></section>
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>技能</h5>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Php" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>PHP</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 80,
                            color: "#1abc9c"
                        }, {
                            value: 20,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Php").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Mysql" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Mysql</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 85,
                            color: "#1abc9c"
                        }, {
                            value: 15,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Mysql").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Laravel" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Laravel</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 90,
                            color: "#1abc9c"
                        }, {
                            value: 10,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Laravel").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Linux" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Linux</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 75,
                            color: "#1abc9c"
                        }, {
                            value: 25,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Linux").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

                <div class="col-lg-2 col-lg-offset-3 centered">
                    <canvas id="nginx" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Nginx</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 70,
                            color: "#1abc9c"
                        }, {
                            value: 30,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("nginx").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Nodejs" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Nodejs</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 50,
                            color: "#1abc9c"
                        }, {
                            value: 50,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Nodejs").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="illustrator" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Html/Css/bootstrap/js</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 50,
                            color: "#1abc9c"
                        }, {
                            value: 50,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="python" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>python/ftp</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 45,
                            color: "#1abc9c"
                        }, {
                            value: 55,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

            </div>
            <br>
        </div>
    </div>
    <section id="contact" name="contact"></section>
    <div id="footwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>联系我</h5>
                </div>
                <div class="col-lg-3">
                    <p>
                        <t>邮箱</t>
                        <br> sheldon9527yxd@gmail.com
                        <br>
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>现居住</t>
                        <br> 四川省成都市高新区
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>手机</t>
                        <br> 18482332878
                        <br>
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>社交媒体</t>
                        <br>
                        <a href="https://github.com/sheldon9527"><i class="icon-github"></i></a>
                        <a href="https://twitter.com/sheldon9527yxd"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/YeeSheldon9527"><i class="icon-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/yeesheldon"><i class="icon-linkedin"></i></a>
                        <a href="http://weibo.com/u/2940709051"><i class="icon-weibo"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="c">
        <div class="container">
            <p>个人博客 <a href="http://120.26.94.169:8080/">Sheldon</a></p>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>

</html>
