<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Sheldon - 个人主页</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/css" rel="stylesheet" type="text/css">
    <link href="css/css(1)" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/Chart.js"></script>
</head>
<style id="stylish-2" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>
<style id="stylish-4" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>

<body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#educate" title="educate"><i class="icon-home"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-suitcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#skill" title="skill"><i class="icon-wrench"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-phone"></i></a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Sheldon Yee</h1>
                    <h3>PHP 开发工程师 | sheldon9527yxd@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>关于我</h5>
                </div>
                <div class="col-lg-6">
                    <p>I'm web designer &amp; front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile &amp; tablet interfaces. I also have skills in
                        other fields like branding, icon design or web development.</p>
                </div>
            </div>
        </div>
    </div>

    <section id="educate" name="educate"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>教育经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>计算机科学与技术</t>
                    <br>陕西科技大学镐京学院
                    <br>
                    <i>4年(本科)</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2011.09 入学 </sm>
                    <br>
                    <imp>
                        <sm>2015.07 毕业</sm>
                    </imp>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <section id="work" name="work"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>工作经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Front-end Developer</t>
                    <br> Black Tie Corp.
                    <br>
                </p>
                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>AUGUST 2012 - CURRENT</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Web Designer - Intern</t>
                    <br> Onassis Ltd.
                    <br>
                </p>
                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>JUNE 2010 - JULY 2012</sm>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <!--AWARDS DESCRIPTION -->
    <section id="skill" name="skill"></section>
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>技能</h5>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Php" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>PHP</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 80,
                            color: "#1abc9c"
                        }, {
                            value: 20,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Php").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Mysql" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Mysql</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 85,
                            color: "#1abc9c"
                        }, {
                            value: 15,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Mysql").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Laravel" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Laravel</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 90,
                            color: "#1abc9c"
                        }, {
                            value: 10,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Laravel").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Linux" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Linux</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 75,
                            color: "#1abc9c"
                        }, {
                            value: 25,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Linux").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

                <div class="col-lg-2 col-lg-offset-3 centered">
                    <canvas id="nginx" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Nginx</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 70,
                            color: "#1abc9c"
                        }, {
                            value: 30,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("nginx").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="Nodejs" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Nodejs</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 50,
                            color: "#1abc9c"
                        }, {
                            value: 50,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("Nodejs").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="illustrator" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Html/Css/bootstrap/js</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 50,
                            color: "#1abc9c"
                        }, {
                            value: 50,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-2 centered">
                    <canvas id="python" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>python/ftp</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 45,
                            color: "#1abc9c"
                        }, {
                            value: 55,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

            </div>
            <br>
        </div>
    </div>
    <section id="contact" name="contact"></section>
    <div id="footwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>联系我</h5>
                </div>
                <div class="col-lg-3">
                    <p>
                        <t>邮箱</t>
                        <br> sheldon9527yxd@gmail.com
                        <br>
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>现居住</t>
                        <br> 四川省成都市高新区
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>手机</t>
                        <br> 18482332878
                        <br>
                    </p>
                </div>
                <div class="col-lg-2">
                    <p>
                        <t>社交媒体</t>
                    </p>
                    <p>
                        <a href="https://github.com/sheldon9527"><i class="icon-github"></i></a>
                        <a href="https://twitter.com/sheldon9527yxd"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/YeeSheldon9527"><i class="icon-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/yeesheldon"><i class="icon-linkedin"></i></a>
                        <a href="http://weibo.com/u/2940709051"><i class="icon-weibo"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="c">
        <div class="container">
            <p>Created by <a href="http://120.26.94.169:8080/">Sheldon</a></p>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>

</html>
