<!DOCTYPE html>
<!-- saved from url=(0031) -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Sheldon - 个人主页</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/css" rel="stylesheet" type="text/css">
    <link href="css/css(1)" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/Chart.js"></script>
</head>
<style id="stylish-2" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>
<style id="stylish-4" class="stylish" type="text/css">
    @namespace url(http://www.w3.org/1999/xhtml);
</style>

<body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#educate" title="educate"><i class="icon-home"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-suitcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#skill" title="skill"><i class="icon-wrench"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-phone"></i></a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Sheldon Yee</h1>
                    <h3>PHP 开发工程师 | sheldon9527yxd@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>关于我</h5>
                </div>
                <div class="col-lg-6">
                    <p>I'm web designer &amp; front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile &amp; tablet interfaces. I also have skills in
                        other fields like branding, icon design or web development.</p>
                </div>
            </div>
        </div>
    </div>

    <section id="educate" name="educate"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>教育经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Master of Web Design</t>
                    <br> St. Patrick University
                    <br>
                    <i>3 Years Course</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>GRADUATING IN MAY 2014</sm>
                    <br>
                    <imp>
                        <sm>IN PROGRESS</sm>
                    </imp>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <section id="work" name="work"></section>
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>工作经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Front-end Developer</t>
                    <br> Black Tie Corp.
                    <br>
                </p>
                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>AUGUST 2012 - CURRENT</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Web Designer - Intern</t>
                    <br> Onassis Ltd.
                    <br>
                </p>
                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>JUNE 2010 - JULY 2012</sm>
                </p>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <!--AWARDS DESCRIPTION -->
    <section id="skill" name="skill"></section>
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>技能</h5>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="javascript" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>PHP</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 70,
                            color: "#1abc9c"
                        }, {
                            value: 30,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="bootstrap" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Mysql</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 90,
                            color: "#1abc9c"
                        }, {
                            value: 10,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="wordpress" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Laravel</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 65,
                            color: "#1abc9c"
                        }, {
                            value: 35,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

                <div class="col-lg-3 col-lg-offset-3 centered">
                    <canvas id="html" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Linux</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 80,
                            color: "#1abc9c"
                        }, {
                            value: 20,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="photoshop" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Nginx</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 70,
                            color: "#1abc9c"
                        }, {
                            value: 30,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="illustrator" height="150" width="150" style="width: 130px; height: 130px;"></canvas>
                    <p>Html/Css/bootstrap</p>
                    <br>
                    <script>
                        var doughnutData = [{
                            value: 50,
                            color: "#1abc9c"
                        }, {
                            value: 50,
                            color: "#ecf0f1"
                        }];
                        var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

            </div>
            <br>
        </div>
    </div>
    <section id="contact" name="contact"></section>
    <div id="footwrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <t>Email</t>
                        <br> william@blacktie.co
                        <br>
                    </p>
                    <p>
                        <t>Adress</t>
                        <br> Some Ave. 987
                        <br> Postal 23892
                        <br> London, England.
                        <br>
                    </p>
                    <p>
                        <t>Phone</t>
                        <br> +55 8933-2383
                        <br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>SOCIAL LINKS</sm>
                    </p>
                    <p>
                        <a href="#"><i class="icon-dribbble"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-apple"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="c">
        <div class="container">
            <p>Created by <a href="http://www.blacktie.co/">BLACKTIE.CO</a></p>

        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>

</html>
