<!doctype html>
<html lang="zn">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>show</h1>
    <ul>
        <% user.forEach(function(user){%>
            <p>username:
                <%= user.username %>
            </p>
            <p>email:
                <%= user.email %>
            </p>
            <% });%>
    </ul>
</body>

</html>
